@import url(http://fonts.googleapis.com/css?family=Lobster);
section {
    /* You will add new style rules here */
   /*background: url(https://codecademy-content.s3.amazonaws.com/courses/web-beginner-en-9xjis/images/winter.jpg);*/
   background-repeat: none;
   width: 100%;
   height: 1000px;
   color:white;
   font-family: Lobster;
   position:relative;
   margin:auto;
   min-width: 400px;
}
h1 {
    font-size: 48px;
    position:relative;
    margin:0;
    top:0;
    left:30%;
}
h2 { 
    font-size: 36px;
    position: relative;
    margin: 0;
    top: 60px;
    left: 30%;
}

.snowman, .Jen, .Frida {
  margin-top: 10%;
}

.snowman { 
    position: relative;
    top: 200px;
    left: 20%;
    margin-top:20%;
    padding-top:3px;
    -webkit-transition: margin 0.1s ease-out;
    -moz-transition: margin 0.1s ease-out;
    -o-transition: margin 0.1s ease-out;
}

.snowman:hover {
  cursor:pointer;
  margin-top: 5px;
}


.Jen  {
  position: relative;
  top: 50px;
  left: 10%;
  border-radius:50%;
  width:20%;
  -webkit-animation: rock-boat1 3s ease 2;
}

.Frida  {
  position: relative;
  top: 50px;
  left: 30%;
  border-radius:60%;
  width:15%;
  -webkit-animation: rock-boat1 3s ease 2;
}

body {
    background: darkslategrey;
}

 



/*  Keyframes - WebKit only
------------------------------------------ */

@-webkit-keyframes rock-boat1 {
    50%  { -webkit-transform: rotate(360deg) translateY(-10px); }

/*@-webkit-keyframes rock-boat2 {
    50%  { -webkit-transform: rotate(-180deg) translateY(-10px); }
*/
/*@-webkit-keyframes rock-boat3 {
    50%  { -webkit-transform: rotate(20deg) translateY(-10px); }

*/



